body.custom-background {
  margin: 1px;
  background: #7f7fd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #91eae4,
    #86a8e7,
    #7f7fd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
  font-family: "Bangers", cursive;
  color: rgb(56, 55, 55);
}
/* .hide-game {
  display: none;
} */
.myContainer .col-4 {
  padding: 0;
}
.cell {
  height: 11vw;
  width: 11vw;
  font-size: 1.8em;
}

.players {
  font-size: 2.2em;
}
.textWinner {
  font-size: 2.2em;
}
.cell1 {
  border-right: 0.1em solid white;
  border-bottom: 0.1em solid white;
}
.cell2 {
  border-right: 0.1em solid white;
  border-bottom: 0.1em solid white;
}
.cell3 {
  border-bottom: 0.1em solid white;
}
.cell4 {
  border-right: 0.1em solid white;
}
.cell5 {
  border-right: 0.1em solid white;
}
.cell7 {
  border-top: 0.1em solid white;
  border-right: 0.1em solid white;
}
.cell8 {
  border-top: 0.1em solid white;
  border-right: 0.1em solid white;
}
.cell9 {
  border-top: 0.1em solid white;
}
.btnNewGame {
  font-size: 1.4em;
}
.custom-form {
  width: 32%;
  /* margin: 0 auto; */
}
.loginBtn {
  margin-top: 1.1em;
}
.welcome-text {
  position: absolute;
  top: 0.5em;
  right: 1em;
  padding: 10px;
  font-size: 1.5rem;
}

.my-form {
  position: absolute;
  top: 0.2em;
  left: 1.5em;
}
.heading-game {
  margin-top: 3em;
}

.form-control {
  margin-right: 2em !important;
}
.hide-game {
  display: none;
}
@media (max-width: 885px) {
  .players {
    font-size: 1.5em;
  }
  .textWinner {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.5em;
  }
}
@media (max-width: 690px) {
  .btnNewGame {
    font-size: 1.2em;
  }
}
@media (max-width: 510px) {
  .btnNewGame {
    font-size: 1em;
  }
}
@media screen and (max-width: 505px) {
  .welcome-text {
    padding: 5px;
    font-size: 1.3rem;
    top: 0.3rem;
  }
}
@media (max-width: 460px) {
  .btnNewGame {
    font-size: 0.8em;
  }
  .players {
    font-size: 1.2em;
  }
  .textWinner {
    font-size: 1.2em;
  }
  h2 {
    font-size: 1.2em;
  }
  .heading-game {
    margin-top: 7rem;
  }
  .welcome-text {
    padding: 5px;
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 425px) {
  .welcome-text {
    padding: 5px;
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 395px) {
  .welcome-text {
    top: 0.4rem;
    right: 1rem;
  }
}
@media screen and (max-width: 318px) {
  .welcome-text {
    top: 5rem;
    left: 4rem;
  }
}
